@import "./conponents/nav";

.container{
    display: flex;
    flex-direction: column;
    h1{
        text-align: center;
    }
    .we{
        margin: 5% 0%;
        .me{
            padding: 0% 20%;
            @include center;
            img{
                height: 40%;
                width: 50%;
            }
            .main-right{
                display: flex;
                flex-direction: column;
                padding: 20px;
            }
        }
    }
}
@import "./conponents/footer";