@import "./conponents/nav";

.container{
    display: flex;
    flex-direction: column;
    h1{
        text-align: center;
    }
    .we{
        margin: 5% 0%;
        .b1{
            padding: 0% 20%;
            @include center;
            @include responsive ('Mobile') {
                flex-direction: column;
                padding: 0%;
            img{
                height: 40%;
                width: 50%;
            }
            .main-right{
                display: flex;
                flex-direction: column;
                padding: 20px;
                @include responsive("Mobile"){
                    h3{
                        text-align: center;
                    }
                }
            }
        }
        .b2{
            flex-direction: column-reverse;
            @extend .b1;
        }
    }
    
}}
@import "./conponents/footer";