@import "./conponents/nav";
.container{
    .main{
        @include center;
        text-align: center;
        margin-top: 100px;
        img{
            width: 250px;
            height: 250px;
            border-radius: 10%;
            @include responsive ('Mobile') {
                width: 120px;
                height: 120px;
            }
        }
    }
    h1{
        color: $third-color;
        text-align: center;
    }
    h3{
        text-align: center
    }
    .go{
        background: $main-color;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1{
            font-size: 35px;
            color: $third-color;
            font-weight: 20px;
        }
        h1:nth-child(1){
            border-bottom: 5px solid $third-color;
            border-radius: 20pxl
        }
    }
}
@import "./conponents/footer";