@import "./conponents/nav";
.container{
    h1{
        text-align: center;
        padding: 20px;
    }
    .video{
        @include center;
        flex-wrap: wrap;
        padding: 0% 10%;
        video{
            width: 300px;
            padding: 20px;
            border-radius: 30px;
        }
    }
}
@import "./conponents/footer";
