footer{
    background: $third-color;
    height: 200px;
    @include center;
    flex-direction: column;
    padding: 20px;
    h1,p{
        text-align: center;
    }
    .icon{
        .fa {
            font-size: 30px;
            color: $second-color;
            padding: 10px;
        }
    }
}