footer{
    background: $third-color;
    @include center;
    flex-direction: column;
    padding: 20px;
    h1{
        text-align: center;
        color: $main-color;
    }
    .icon{
        .fa {
            font-size: 30px;
            color: $main-color;
            padding: 10px;
        }
    }
}