@import "../group_mixus/responsive";
@import "../group_mixus/flex-mixus";
body{
    margin: 0px;
    padding: 0px;
    background: #EBFFEE;
    font-family:Agbalumo, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    img {
        width: 100%;
    }
}