@import "main";
nav{
    position: relative;
    background: pink;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    ul {
        display: flex;
        justify-content: space-around;
        li{
            list-style: none;
            a{
                font-size: 20px;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}